<div class="col-md-8 col-md-offset-2">
  <h1>Your ingredients:</h1>
  <ul class="list-unstyled">
    <li><%= @flour %></li>
    <li>baking powder</li>
    <li><%= @sugar %></li>
    <li><%= @fat %></li>
    <li><%= @liquid %></li>
    <li><%= @optional %></li>
    <li><%= @spices %></li>
  </ul><h1>Your recipe:</h1>
  <p>For the purpose of experimenting, one cup of flour will be enough. Adjust your ingredients
    to this amount. If you prefer muffin-like cake consistency, aim for batter that's thicker
    than American pancakes. That would usually mean 1/2-2/3 cup of liquid per 1 cup of flour,
    depending on how heavy the other ingredients are. Add more liquid when you add cocoa or powdered nuts.
    Add 1/2 teaspoon of baking powder and an additional 1/4 for heavier cakes.
  </p>
  <p>Whisk all dry ingredients together in a bowl. Make a well in the middle and add liquid, oil/fat,
    and any chopped/shredded additions. Mix them together. Bake in around 200 degrees Celsius for
    20-30 minutes, depending on the exact recipe. Just stare at the oven. Use a chopstick or toothpick
    to see if the cake is done.
  </p>
  <a href="">≪ Back</a>
