<div class="col-md-8 col-md-offset-2 recipe-welcome">
  <h2><%= @recipe %></h2>
  <h3>Ingredients:</h3>
  <ul class="list-unstyled">
    <li>baking powder</li>
    <li><%= @flour %></li>
    <li><%= @sugar %></li>
    <li><%= @fat %></li>
    <li><%= @liquid %></li>
    <li><%= @spices %></li>
    <li><%= @optional %></li>
  </ul>
  <h3>Recipe:</h3>
  <p>Schlitz vinyl eu adipisicing, scenester tattooed fingerstache 90's DIY aute.
    Sustainable veniam gentrify vinyl pitchfork asymmetrical. Disrupt hammock gentrify chia,
    fixie wayfarers banh mi art party hoodie magna truffaut placeat ugh pork belly cupidatat.
  </p>
  <p>Biodiesel franzen kinfolk, placeat authentic pop-up incididunt irure in. Shoreditch tofu
    jean shorts odio. Vero eiusmod incididunt ullamco, shoreditch cardigan occaecat nostrud
    aute tumblr mustache. Crucifix cred street art, cupidatat distillery excepteur biodiesel
    craft beer.
  </p>
  <p>+1 cliche tumblr ramps. Nulla fixie next level id. Paleo freegan twee locavore iPhone esse,
    blog forage intelligentsia meditation sunt veniam placeat. Taxidermy put a bird on it neutra,
    pour-over skateboard mlkshk flannel. Mixtape nesciunt cred, slow-carb flexitarian tousled
    williamsburg tote bag dreamcatcher migas authentic hella umami godard.
  </p>
