<div class="col-md-8 col-md-offset-2">
  <h1><%= @recipe %></h1>
  <h2>Ingredients:</h2>
  <ul class="list-unstyled">
    <li><%= @flour %></li>
    <li>baking powder</li>
    <li><%= @sugar %></li>
    <li><%= @fat %></li>
    <li><%= @liquid %></li>
    <li><%= @optional %></li>
    <li><%= @spices %></li>
  </ul>
  <h2>Recipe:</h2>
  <p>Schlitz vinyl eu adipisicing, scenester tattooed fingerstache 90's DIY aute.
    Sustainable veniam gentrify vinyl pitchfork asymmetrical. Disrupt hammock gentrify chia,
    fixie wayfarers banh mi art party hoodie magna truffaut placeat ugh pork belly cupidatat.
  </p>
  <p>Biodiesel franzen kinfolk, placeat authentic pop-up incididunt irure in. Shoreditch tofu
    jean shorts odio. Vero eiusmod incididunt ullamco, shoreditch cardigan occaecat nostrud
    aute tumblr mustache. Crucifix cred street art, cupidatat distillery excepteur biodiesel
    craft beer.
  </p>
